<div class="card mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-8 offset-md-2">
  <font color="blue"><h5>Assign Promotion Code</h5></font>
  <div class="card card-body bg-light text-dark">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Mobile phone..." aria-label="Phone Or User ID" aria-describedby="basic-addon2"
        [(ngModel)]="userInput" (keydown.enter)="onKeydown($event)">
      <div class="input-group-append">
        <button class="btn btn-outline-dark" type="button" (click)="searchUser()">Search</button>
      </div>
    </div>


    <div class="form-group">
      <label for="subject">
        <strong>Subject</strong>
      </label>
      <input type="text" name="subject" class="form-control" id="subject" [(ngModel)]="Subject">
    </div>

    <div class="form-group">
      <label for="message">
        <strong>Message</strong>
      </label>
      <input type="text" name="message" class="form-control" id="message" [(ngModel)]="Message">
    </div>
    
    <table class="table table-bordered table-striped">
      <!-- <table *ngIf="users[0].Id" class="table table-bordered table-striped"> -->
      <thead>
        <tr>
          <th>Id</th>
          <th>First name</th>
          <th>Mobile Phone</th>
          <th>Email</th>
          <!-- <th>Select</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let user of users" (click)="checkbox(user.Id)"> -->
        <tr *ngFor="let user of users">
          <!-- <td>
                    <label class="custom-control custom-checkbox mb-2">
                      <input class="custom-control-input" type="checkbox" [(ngModel)]="selectedUser">
                      <span class="custom-control-indicator"></span>
                    </label>
                  </td> -->
          <td>{{user.Id}}</td>
          <td>{{user.FirstName}}</td>
          <td>{{user.MobileNumber}}</td>
          <td>{{user.Email}}</td>
          <!-- <td><input type="checkbox" [(ngModel)]="user.toggle"></td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card card-body">
    <div class="form-group md-3">
      <label for="code">
        <strong>Promotion Code</strong>
      </label>
      <input type="text" name="code" class="form-control" id="code" [(ngModel)]="promotionDetail.Code" disabled>
    </div>

    <div class="row">
      <div class="col col-lg-6">
        <div class="form-group">
          <label for="startTime">
            <strong>Start Date</strong>
          </label>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="datetime-local" class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="promotionDetail.StartTime"
                  disabled>
              </div>
            </div>
          </form>

        </div>
      </div>
      <div class="col col-lg-6">
        <div class="form-group">
          <label for="endDate">
            <strong>End Date</strong>
          </label>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="datetime-local" class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="promotionDetail.EndTime"
                  disabled>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="tickFollowing">
        <strong>Please Tick Following</strong>
      </label>
      <div class="row">
        <div class="col col-lg-1">
          <input type="checkbox" name="perentage" class="form-control" id="isPercent" [(ngModel)]="promotionDetail.IsPercent" disabled>
        </div>
        <div class="col col-lg-2">
          Percentage
        </div>
        <div class="col col-lg-1">
          <input type="checkbox" name="joint" class="form-control" id="isJoint" [(ngModel)]="promotionDetail.IsJoint" disabled>
        </div>
        <div class="col col-lg-2">
          Partner
        </div>
        <div class="col col-lg-1">
          <input type="checkbox" name="special" class="form-control" id="isSpecial" [(ngModel)]="promotionDetail.IsSpecial" disabled>
        </div>
        <div class="col col-lg-2">
          Special
        </div>
        <div class="col col-lg-1">
          <input type="checkbox" name="assignOnly" class="form-control" id="assignOnly" [(ngModel)]="promotionDetail.AssignOnly">
        </div>
        <div class="col col-lg-2">
          Assign
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="quantity">
        <strong>Quantity</strong>
      </label>
      <input type="number" name="quantity" class="form-control" id="quantity" min="1" [(ngModel)]="promotionDetail.Qty" disabled>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-outline-primary" (click)="toggle()" id="socialMedia" disabled>
        {{buttonName}}
      </button>
    </div>

    <div class="form-group">
      <ng-container *ngIf="show">
        <label for="merchantId">
          <strong>Merchant ID</strong>
        </label>
        <input type="number" name="merchantId" class="form-control" id="merchantld" [(ngModel)]="promotionDetail.MerchantId" disabled>
      </ng-container>
    </div>

    <div class="form-group">
      <ng-container *ngIf="promotionDetail.IsPercent">
        <label for="amount">
          <strong>Amount</strong>
        </label>
        <input type="number" name="amount" class="form-control" id="amount" [(ngModel)]="promotionDetail.Amount" max="1" disabled>
        <small id="amountToPercent" class="form-text text-primary">Amount between 0-1</small>
      </ng-container>
    </div>

    <div class="form-group">
      <ng-container *ngIf="!promotionDetail.IsPercent">
        <label for="amount">
          <strong>Amount</strong>
        </label>
        <input type="number" name="amount" class="form-control" id="amount" [(ngModel)]="promotionDetail.Amount" min="0" disabled>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="maxRedemptPerUser">
        <strong>Max Redemption Per User</strong>
      </label>
      <input type="number" name="MaxRedemptPerUser" class="form-control" id="amount" [(ngModel)]="promotionDetail.MaxRedemptPerUser"
        min="0" disabled>
    </div>

    <div class="form-group">
      <label for="minUsed">
        <strong>Min Spend</strong>
      </label>
      <input type="number" name="minUsed" class="form-control" id="minSpend" [(ngModel)]="promotionDetail.MinUsed" disabled>
    </div>

    <div class="form-group">
      <label for="maxDiscount">
        <strong>Max Discount</strong>
      </label>
      <input type="number" name="maxDiscunt" class="form-control" id="maxDiscount" [(ngModel)]="promotionDetail.MaxDiscount" disabled>
    </div>

    <div class="form-group">
      <label for="title">
        <strong>Title</strong>
      </label>
      <input type="text" name="title" class="form-control" id="title" [(ngModel)]="promotionDetail.Title" disabled>
    </div>

    <div class="form-group">
      <label for="description">
        <strong>Description</strong>
      </label>
      <input type="text" name="description" class="form-control" id="description" [(ngModel)]="promotionDetail.Description" disabled>
    </div>

    <div class="form-group">
      <label for="detailDescription">
        <strong>Detail Description</strong>
      </label>
      <input type="text" name="detailDescription" class="form-control" id="detailDescription" [(ngModel)]="promotionDetail.Description2"
        disabled>
    </div>

    <!-- <div class="form-group">
      <label for="image">
        <strong>Image</strong>
      </label>
      <input type="file" class="form-control" id="Image" accept="image/*" base-sixty-four-input (change)="handleFileSelect($event)">
      <div *ngIf="promotionDetail.Image != undefined && promotionDetail.Image !=''">
        <img [src]="promotionDetail.Image" style="height: 300px; width:300px" align="right">
      </div>
    </div> -->

    <!-- <div class="form-group">
      <label for="status">
        <strong>Status</strong>
      </label>
      <select class="form-control" [(ngModel)]="promotionDetail.Status" name="status" style="width: 100%; height: 35px" disabled>
        <option *ngFor="let statusSelection of statusSelections">{{statusSelection}}</option>
      </select>
    </div> -->

    <br>
    <div class="row justify-content-end">
      <button class="btn btn-primary" (click)="assignPromotionCode()">Assign</button>
    </div>
  </div>
</div>