<div class="card card-body mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-8 offset-md-2">
  <div class="container">

    <div class="form-group">
      <label for="code">
        <strong>Promotion Code</strong>
      </label>
      <input type="text" name="code" class="form-control" id="code" [(ngModel)]="promotionDetail.Code">
    </div>

    <div class="form-group">
      <label for="image">
        <strong>Image</strong>
      </label>
      <div class="row">
        <div class="col">
          <input type="file" class="form-control" id="Image" accept="image/*" base-sixty-four-input (change)="handleFileSelect($event)">
        </div>
        <div class="col">
          <div *ngIf="promotionDetail.Image != undefined && promotionDetail.Image !=''">
            <img [src]="promotionDetail.Image" style="height: 30%; width:30%" align="right">
          </div>
        </div>
      </div>
    </div>
    <!-- {{promotionDetail.Image}} -->

    <div class="row">
      <div class="col col-lg-6">
        <div class="form-group">
          <label for="startTime">
            <strong>Start Date</strong>
          </label>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="datetime-local" class="form-control" value="2018-08-01T24:00" name="startDate" [(ngModel)]="promotionDetail.StartTime">
              </div>
            </div>
          </form>

        </div>
      </div>
      <div class="col col-lg-6">
        <div class="form-group">
          <label for="endDate">
            <strong>End Date</strong>
          </label>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="datetime-local" class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="promotionDetail.EndTime">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="tickFollowing">
        <strong>Please Tick Following</strong>
      </label>
      <div class="row">
        <div class="col col-lg-1">
          <input type="checkbox" name="perentage" class="form-control" id="isPercent" [(ngModel)]="promotionDetail.IsPercent">
        </div>
        <div class="col col-lg-2">
          Percentage
        </div>
        <div class="col col-lg-1">
          <input type="checkbox" name="joint" class="form-control" id="isJoint" [(ngModel)]="promotionDetail.IsJoint">
        </div>
        <div class="col col-lg-2">
          Partner
        </div>
        <div class="col col-lg-1">
          <input type="checkbox" name="special" class="form-control" id="isSpecial" [(ngModel)]="promotionDetail.IsSpecial">
        </div>
        <div class="col col-lg-2">
          Special
        </div>
        <div class="col col-lg-1">
          <input type="checkbox" name="assignOnly" class="form-control" id="assignOnly" [(ngModel)]="promotionDetail.AssignOnly">
        </div>
        <div class="col col-lg-2">
          Assign
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="quantity">
        <strong>Quantity</strong>
      </label>
      <input type="number" name="quantity" class="form-control" id="quantity" min="1" [(ngModel)]="promotionDetail.Qty">
    </div>

    <div class="form-group">
      <label for="hawkerCenterId">
        <strong>Hawker Center Id</strong>
      </label>
      <div class="row">
        <div class="col col-lg-10">
          <input type="text" class="form-control" name="hawkerCenterId" id="hawkerCenterId" [(ngModel)]="promotionDetail.HawkerCenterId">
        </div>
        <div class="col col-lg-2">
          <button type="button" class="btn btn-primary" id="hawkerCenterIdButton" data-toggle="modal" data-target="#hawkerCenterIdModal" (click)="searchHawerCenter()">Search</button>
        </div>
      </div>
    </div>

    <div class="modal fade" id="hawkerCenterIdModal" tabindex="-1" role="dialog" aria-labelledby="hawkerCenterIdModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="hawkerCenterIdModalLabel">Hawker Center</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="no-more-table">
              <table class="table table-bordered table-striped mb-0">
                <thead>
                  <tr>
                    <th style="width: 20%">Id</th>
                    <th style="width: 60%">Name</th>
                    <th style="width: 20%">Selected</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let HawkerCenterList of HawkerCenterLists; let i=index">
                    <td>{{HawkerCenterList.Id}}</td>
                    <td>{{HawkerCenterList.Name}}</td>
                    <td>
                      <input type="checkbox" name="HawkerCenterSelected" [(ngModel)]="HawkerCenterSelected[i]" [checked]=true>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="HawkerCenterSelection()">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-outline-primary" (click)="toggle()" id="socialMedia">
        {{buttonName}}
      </button>
    </div>

    <div class="form-group">
      <ng-container *ngIf="show">
        <label for="merchantId">
          <strong>Merchant ID</strong>
        </label>
        <div class="row">
          <div class="col col-lg-10">
            <input type="number" name="merchantId" class="form-control" id="merchantld" [(ngModel)]="promotionDetail.MerchantId">
          </div>
          <div class="col col-lg-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#merchantModal">Search</button>
          </div>
        </div>
        <div class="modal fade" id="merchantModal" tabindex="-1" role="dialog" aria-labelledby="merchantModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="merchantModal">Search Merchant Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col col-lg-10">
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="merchantName">
                      </div>
                    </div>
                    <div class="col col-lg-2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-dark" type="button" (click)="searchMerchant()">Search</button>
                      </div>
                    </div>
                  </div>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Selected</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let merchantSearchItem of merchantSearchItems; let i=index">
                        <td>{{merchantSearchItem.Id}}</td>
                        <td>{{merchantSearchItem.Name}}</td>
                        <td>
                          <input type="checkbox" name="merchantSearchId" [(ngModel)]="merchantSelected[i]">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="confirmMerchant()" >Confirm</button>
                </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="form-group">
      <ng-container *ngIf="promotionDetail.IsPercent">
        <label for="amount">
          <strong>Amount</strong>
        </label>
        <input type="number" name="amount" class="form-control" id="amount" [(ngModel)]="promotionDetail.Amount" min="0" max="1"
        oninput="this.value = Math.abs(this.value)">
        <small id="amountToPercent" class="form-text text-primary">Amount between 0-1</small>
      </ng-container>
    </div>

    <div class="form-group">
      <ng-container *ngIf ="!promotionDetail.IsPercent">
        <label for="amount">
          <strong>Amount</strong>
        </label>
        <input type="number" name="amount" class="form-control" id="amount" [(ngModel)]="promotionDetail.Amount" min="0">
      </ng-container>
    </div>

    <div class="form-group">
      <label for="maxRedemptPerUser">
        <strong>Max Redemption Per User</strong>
      </label>
      <input type="number" name="MaxRedemptPerUser" class="form-control" id="amount" [(ngModel)]="promotionDetail.MaxRedemptPerUser"
        min="0">
    </div>

    <div class="form-group">
      <label for="minUsed">
        <strong>Min Spend</strong>
      </label>
      <input type="number" name="minUsed" class="form-control" id="maxDiscount" [(ngModel)]="promotionDetail.MinUsed">
    </div>

    <div class="form-group">
      <label for="maxDiscount">
        <strong>Max Discount</strong>
      </label>
      <input type="number" name="maxDiscunt" class="form-control" id="maxDiscount" [(ngModel)]="promotionDetail.MaxDiscount">
    </div>

    <div class="form-group">
      <label for="title">
        <strong>Title</strong>
      </label>
      <input type="text" name="title" class="form-control" id="title" [(ngModel)]="promotionDetail.Title">
    </div>

    <div class="form-group">
      <label for="description">
        <strong>Description</strong>
      </label>
      <input type="text" name="description" class="form-control" id="description" [(ngModel)]="promotionDetail.Description">
    </div>

    <div class="form-group">
      <label for="detailDescription">
        <strong>Detail Description</strong>
      </label>
      <input type="text" name="detailDescription" class="form-control" id="detailDescription" [(ngModel)]="promotionDetail.Description2">
    </div>

    <!-- <div class="form-group">
      <label for="image">
        <strong>Image</strong>
      </label>
      <input type="file" class="form-control" id="Image" accept="image/*" base-sixty-four-input (change)="handleFileSelect($event)">
      <div *ngIf="promotionDetail.Image != undefined && promotionDetail.Image !=''">
        <img [src]="promotionDetail.Image" style="height: 300px; width:300px" align="right">
      </div>
    </div> -->

    <br>
    <div class="row justify-content-end">
      <button class="btn btn-primary" (click)="addPromotion()"> Add</button>
      <!-- <button class="btn btn-primary" (click)="addPromotion(Code, StartTime, EndTime, IsPercent, IsJoint, IsSpecial, Qty, MerchantId, Amount, MaxRedemptionPerUser, MinUsed,
      MaxDiscount, Title, Description)"> Add</button> -->
    </div>
  </div>
</div>