#onboarding {
    color: rgb(255, 255, 255)
}

// .table-striped > tbody > tr:nth-child(odd) > td {
//     background-color: rgb(226, 247, 255);
// }

// .table-striped > tbody > tr:nth-child(even) > td {
//     background-color: rgb(255, 255, 255);
// }

#dropdownMenuButton{
    border-radius: 4px;
}

#linkToMenu{
    border-radius: 4px;
}