<h3> Manage Offline Onboarding
  <a class="btn btn-primary" style="font-size: 1rem;float: right;" id="onboarding" (click)="createOnboarding()">Create New!</a>
</h3>

<div class="card" style="width: 100%">
  <div class="card-title">
    <!-- <h3><font color="blue">Offline Merchant List</font></h3> -->
  </div>
  <div class="card-body">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th style="width: 5%;">ID</th>
          <th style="width: 10%;">Username</th>
          <th style="width: 10%;">Mobile</th>
          <th style="width: 15%;">Outlet Name</th>
          <th style="width: 10%;">Created Date</th>
          <th style="width: 10%;">Salesman</th>
          <th style="width: 10%;">Status</th>
          <th style="width: 10%;">Menu</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let merchantInfo of merchantInfoes; let i=index">
          <td>{{merchantInfo.Id}}</td>
          <td>{{merchantInfo.UserName}}</td>
          <td>{{merchantInfo.Mobile}}</td>
          <td>{{merchantInfo.RestaurantName}}</td>
          <td>{{merchantInfo.LastUpdated | date: 'yyyy-MM-dd'}}</td>
          <td>{{merchantInfo.SaleInCharge.FirstName}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{merchantInfo.Status}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <span class="dropdown-item" (click)="showDetail(merchantInfo)">Edit</span>
                <!-- <div class="dropdown-divider"></div> -->
              </div>
            </div>
            <!-- <button type="button" class="btn btn-link" (click)=showDetail(merchantInfo)>{{merchantInfo.Status}}</button> -->
          </td>
          <td>
            <button type="button" class="btn btn-info" id="linkToMenu" (click)="linkToMenu()">Create Menu</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>