@import "../../../assets/fonts/simple-line-icons/simple-line-icons.css";

// .row{
//   background: #ffffff;
// }
.card-body{
  background:#ffffff;
}

.icon-group a {
  display: block;
  padding-left: 40px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 5px;
  .icon, .fa,
  [class^="icon-"],
  [class*=" icon-"] {
    position: absolute;
    top: 0;
    left: 10px;
    min-width: 30px;
    text-align: center;
    line-height: 32px;
  }
  &:hover .fa,
  &:hover .icon,
  &:hover [class^="icon-"],
  &:hover [class*=" icon-"] {
    top: 5px;
    font-size: 1.5em;
  }
}

.buttonContainer{
  display:flex;
  .buttonGroup{
    margin: auto auto auto auto;
    .xinBtn{
      width:100px;
      height:32px;
      margin: 0px 3px 0px 3px;
    }
  }
}
