a {
    cursor: pointer;
}

div.input-group  {
    // position:  absolute;
    left: 450px;
    border:1px solid #70a9ffc7;
}

#createnewuser {
    // position: fixed;
    top: 65px;
    right:60px;
}
#searchengine{
    width: 50%;
}

#createnewuser{
    color: azure;
}
.input-group.md-form.form-sm.form-2 input.amber-border  {
    border: 1px solid #ffca28;
}

#searchboxicon {
    cursor: pointer;
}

#dropdownMenuButton {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 3px #ffffff
}

// #searchSelction {
//     position: fixed;
// }

// .searchEngine {
//     margin: auto;
// }

.input-group{
    width: 50%;
    margin: 0px;
}

.searchEngine {
    padding-left: 20px;
}
